// ============================================
// Utilidades Kiosko
// ============================================

@layer utilidades
  .kiosko
    &-flex
      display flex

    &-flex-col
      display flex
      flex-direction column

    &-items-center
      align-items center

    &-justify-center
      justify-content center

    &-w-full
      width 100%

    &-h-full
      height 100%

    &-texto-centro
      text-align center

    &-no-select
      user-select none
